.tag-selector {
  margin-bottom: 20px;

  h3 {
    text-align: center;
  }

  .available-tags {
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: center;
    margin: 10px;

    .tag-button {
      padding: 8px 12px;
      border: 1px solid #ccc;
      background: #f9f9f9;
      cursor: pointer;
      border-radius: 5px;
      color: #4640ff;
      height: 40px;
      transition: background 0.3s, color 0.3s;

      &.selected {
        background: #007bff;
        color: white;
      }
    }
  }

  .custom-selected-tags {
    display: flex;
    flex-wrap: wrap;

    .custom-tag {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 5px;
      margin-top: 10px;
      margin-left: 10px;

      input {
        width: 300px;
        padding: 8px;
        border: 1px solid #ccc;
        border-radius: 5px;
      }

      button {
        padding: 8px 12px;
        width: 100px;
        border: none;
        background-color: #007bff;
        color: white;
        border-radius: 5px;
        cursor: pointer;
        transition: background 0.3s;

        &:hover {
          background-color: #0056b3;
        }
      }
    }

    .selected-tags {
      display: flex;
      align-items: center;
      margin-left: 3%;
      margin-top: 15px;
      text-align: center;

      .selected-tag {
        background: #007bff;
        color: white;
        padding: 10px;
        border-radius: 5px;
        display: inline-flex;
        align-items: center;
        gap: 5px;
        margin: 5px;
        border: 1px solid #ccc;
        white-space: nowrap;

        .remove-tag-btn {
          background: none;
          border: none;
          color: white;
          font-size: 14px;
          cursor: pointer;
          margin-left: 5px;
          padding: 0;
          display: flex;
          align-items: center;

          &:hover {
            color: #ff4d4d;
          }
        }
      }
    }
  }

  .no-tags {
    margin-left: 10px;
  }
}
