@use "../../index.scss";

.tag-page {
  max-width: 99%;
  // margin: 0 auto;
  padding: 20px;
  
  h1 {
    font-weight: bold;
    color: #333;
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 10px;
  }

  .loading {
    text-align: center;
    font-size: 1.2rem;
    color: #888;
  }

  .articles-container {
    display: grid;
    padding: 20px;
    grid-template-columns: 1fr;
    padding: 15px;
    width: 95%;
  }

  .no-articles {
    text-align: center;
    font-size: 1.2rem;
    color: #666;
    padding: 2rem;
  }
}