.article-editor {
  width: 97%;
  margin: 0 auto;
  margin-top: 15px;
  margin-bottom: 15px;
  padding-top: 10px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.title-description {
  display: flex;
  flex-direction: column;
}

.save-cancel-buttons {
  display: flex;
  gap: 10px;
  width: 31%;
  margin: 20px auto;
  margin-bottom: 10px;
}

.uploaded-image {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
}