.comment-card {
  background: #f9f9f9;
  padding: 12px;
  width: 97%;
  margin: 8px 0;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.comment-text {
  font-size: 16px;
  margin-bottom: 8px;
}

.comment-footer {
  font-size: 14px;
  color: #555;
  display: flex;
  justify-content: space-between;
}

.button-group {
  display: flex;
  gap: 10px; /* Adds spacing between buttons */
  justify-content: center; /* Aligns buttons to the left */
  align-items: center; /* Centers vertically */
  margin-top: 10px;
}

.edit-button-card, .delete-button-card {
  width: 100px;
  padding: 8px 12px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.edit-button-card {
  background-color: #4CAF50; /* Green */
  color: white;
}

.delete-button-card {
  background-color: #f44336; /* Red */
  color: white;
}
