@use "sass:color";

// Define color variables for easy theming
$primary-color: #007bff;
$secondary-color: #4caf50;
$text-color: #555;
$bg-light: #f2f2f2;
$box-shadow-light: rgba(0, 0, 0, 0.1);
$box-shadow-hover: rgba(0, 0, 0, 0.15);

// Mixin for button styles
@mixin button-style($bg-color) {
  background-color: $bg-color;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;

  &:hover {
    background-color: color.adjust($bg-color, $lightness: -10%);
  }
}

.home {
  font-family: Arial, sans-serif;
  padding: 20px;

  &-header {
    text-align: center;
    margin-bottom: 40px;

    h1 {
      font-size: 2.5rem;
      margin-bottom: 10px;
    }

    p {
      color: $text-color;
      font-size: 1.2rem;
    }

    &__create-article {
      button {
        padding: 10px 20px 10px 10px;
        font-size: 16px;
        color: #ffffff;
        background-color: $primary-color;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s;
        width: 170px;
        height: auto;

        &:hover {
          background-color: color.adjust($primary-color, $lightness: -10%);
        }
      }
    }
  }
}

.home-main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.articles-list {
  display: grid;
  grid-template-columns: 1fr;
  width: 95%;
}

.article-card {
  background: $bg-light;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 5px $box-shadow-light;
  transition: box-shadow 0.3s ease;
  text-align: center;

  &:hover {
    box-shadow: 0 4px 10px $box-shadow-hover;
  }

  h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
  }

  p {
    color: $text-color;
    margin-bottom: 15px;
  }
}

.article-footer {
  display: flex;
  justify-content: space-between;
  font-size: 0.9rem;
  color: #777;
}

.create-article-button {
  @include button-style($secondary-color);
  margin-top: 10px;
}